{% extends 'overall/layout' %}
{% block appBody %}
    <form id="{{view}}_form">
        {{inputs}}
        <button type="button" id="{{view}}">Enviar</button>
    </form>
{% endblock %}
{% block appFooter %}
    <script src="views/app/js/{{view}}/{{ajax_file_name}}.js" />
{% endblock %}