{% extends 'overall/layout' %}
{% block appHeader %}
{# Slider #}
<link rel="stylesheet" href="views/app/css/emergente-slider.css">


{% endblock %}
{% block content %}
{# Main Content #}
<section id="main-content" class="container">
	<header class="menu-categories-filter pb-3">
		<ul class="menu-filter d-flex pt-3 justify-content-end mr-5 flex-wrap">
			<li class="active" data-filter="all">
				<a class="text-uppercase pb-0 pl-3 pt-2 pr-1 d-block" href="javascript:void(0)">{{lang.all}}</a>
			</li>
			{% for c in categories if 0 < categories|length %}
			<li data-filter="{{c.id_categorias}}">
				<a class="text-uppercase pb-0 pl-3 pt-2 pr-1 d-block" href="javascript:void(0)">{{ actual_lang == 'es' ?  c.name_es : c.name_en}}</a>
			</li>
			{% endfor %}
			
		</ul>
	</header>

	<section class="row filtr-container details-section">
		<header class="w-100">
			<h4 class="font-weight-bold text-6b6b6b text-uppercase">{{project.titulo}}</h4>
			<div class="demo">
		        <div class="item">            
		            <div class="clearfix emergente-sliderShow">
		                <ul class="emergente-slider">
		                	{% for g in gallery['1400'] %}
		                	<li> 
				                <img src="{{g}}" alt="{{g}}"/>
				            </li> 
		                	{% endfor %} 
		                </ul>
		                <div class="arrow-controls hup">
		                	<a href="javascript:void(0)" class="esPrev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
		                	<a href="javascript:void(0)" class="esNext"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		                </div>
		                <div class="pag hdown">
		                	<div class="emg-pag">
			                	<ul class="slider-pagination"></ul>
			                </div>
			                <a href="javascript:void(0)" class="thPrev"><i class="ion-chevron-left" aria-hidden="true"></i></a>
			                <a href="javascript:void(0)" class="thNext"><i class="ion-chevron-right" aria-hidden="true"></i></a>
		                </div>
		                
		                
		            </div>
		        </div>
		        
		    </div>            
		</header>

		<article class="mt-5">
			{{ (actual_lang == 'es' ?  project.content_es : project.content_en)|raw }}
		</article>
		
	</section>
</section>
{# End Main Content #}
{% endblock %}

{# Script Extra #}
{% block appFooter %}
<script src="views/plugins/Filterizr/dist/jquery.filterizr.min.js"></script>
<script src="views/app/js/emergente-slider.js"></script>

{% endblock %}
