{% extends 'overall/layout' %}

{% block content %}
{# Main Content #}
<section id="main-content" class="container">
	<header class="menu-categories-filter">
		<ul class="menu-filter d-flex pt-3 justify-content-end mr-5 mb-3 flex-wrap">
			<li class="active" data-filter="all">
				<a class="text-uppercase pb-0 pl-3 pt-2 pr-1 d-block" href="javascript:void(0)">{{lang.all}}</a>
			</li>
			{% for c in categories if 0 < categories|length %}
			<li data-filter="{{c.id_categorias}}">
				<a class="text-uppercase pb-0 pl-3 pt-2 pr-1 d-block" href="javascript:void(0)">{{ actual_lang == 'es' ?  c.name_es : c.name_en}}</a>
			</li>
			{% endfor %}
			
		</ul>
	</header>

	<div class="row mt-5 projects filtr-container">
		{% for p in projects if false != projects %}
		<article class="col-md-4 col-sm-6 filtr-item project" id="articulo_{{p.id_proyectos}}" data-category="{{p.categorias}}">
			<a data-href="projects/{{p.id_proyectos}}/{{url_amigable(p.titulo)}}/" class="full">
				<figure class="m-0 p-relative full">
					<img class="img-thumbnail p-0 full" src="{{p.portada}}" alt="">
					<div class="particles-js" id="particles-js_{{p.id_proyectos}}"></div>
					<figcaption class="full-width text-center p-absolute text-white" id="figcaption">
						<img class="mt-4 mb-3" src="{{p.logo}}" alt="">
						<h5>{{p.titulo}}</h5>
						<p>{{ actual_lang == 'es' ?  p.short_desc_es : p.short_desc_en }}</p>					
					</figcaption>
				</figure>
			</a>
		</article>
		{% else %}
		<article class="col-md-12 col-sm-12 filtr-item project" data-category="1">
			<div class="alert alert-info">
				<strong><i class="fa fa-info-circle"></i> Información:</strong>
				No hay proyectos subidos.
			</div>
		</article>
		{% endfor %}
		
	
	</div>
</section>
{# End Main Content #}
{% endblock %}

{# Script Extra #}
{% block appFooter %}
<script src="views/plugins/particles/demo/js/lib/stats.js"></script>
<script src="views/plugins/Filterizr/dist/jquery.filterizr.min.js"></script>

<script src="views/plugins/particles/particles.min.js"></script>

 {# Inicialización de los plugins #}
 <script src="views/app/js/filterz.js"></script>

{% endblock %}
