{% extends 'overall/layout' %}
{% block appHeader %}
<link rel="stylesheet" href="views/plugins/toastr/toastr.css">
<link rel="stylesheet" href="views/plugins/ladda/ladda.css">
{% endblock %}
{% block content %}
{# Main Content #}
	<section id="main-content" class="container">
    	<div class="row mt-5">
    		<div class="col-md-6 col-sm-12 mb-5">
    			<div class="" id="google-map"></div>
                <form class="mt-5" id="contact_form">
                    <div class="form-group row">
                        <label for="nombre" class="col-12 col-sm-2 col-form-label">{{lang.form.name}} </label>
                        <div class="col-12 col-sm-8">
                            <input type="text" name="nombre" class="form-control" id="nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="e-mail" class="col-12 col-sm-2 col-form-label">{{lang.form.email}} </label>
                        <div class="col-12 col-sm-8">
                            <input type="email" name="email" class="form-control" id="e-mail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mensaje" class="col-12 col-sm-2 col-form-label">{{lang.form.message}} </label>
                        <div class="col-12 col-sm-8">
                            <textarea id="mensaje" class="form-control" name="mensaje" rows="3"></textarea>
                        </div>
                    </div>
                     <button type="button" id="contact" class="btn btn-black ml-70">{{lang.form.button}}</button>
                </form>
    		</div>
    		<div class="col-md-6 col-sm-12 contact-info">
    			<h5 class="text-black">{{lang.desc.contact}}</h5>
    			<address>
    				<div class="d-inline-flex flex-wrap w-100">
                        <i class="fa fa-map-marker text-center"></i>        
                        <p class="text-muted pl-2">{{ contact.address[actual_lang] }}</p>
                    </div>
                   
                    <div class="d-inline-flex flex-wrap w-100">
                        <i class="fa fa-location-arrow text-center"></i>
                        <p class="text-muted pl-2">{{ contact.como[actual_lang] }}</p>
                    </div>
                    
                    <div class="d-inline-flex flex-wrap w-100">
                        <i class="fa fa-mobile text-center"></i>
                        <p class="text-muted pl-2">{{contact.phone_1}}  {{contact.phone_2}}</p>
                    </div>
                    <div class="d-inline-flex flex-wrap w-100">
                        <i class="fa fa-envelope-o text-center font-size-15"></i>
                        <div class="text-muted pl-2">
                            {% for e in contact.emails %}
                            <p class="m-0">{{e}}</p>
                            {% endfor %}
                            
                        </div>
                    </div>
    			</address>
    			<h5 class="text-black">{{lang.desc.work}}</h5>
                <div>
                    <p class="text-muted pl-4">{{ contact.work[actual_lang] }}</p>
                </div>
    		</div>
    	</div>
	</section>

{# End Main Content #}
{% endblock %}
{% block appFooter %}
<script>
      function initMap() {
        var uluru = {lat: {{contact.latitud}}, lng: {{contact.longitud}}};
        var map = new google.maps.Map(document.getElementById('google-map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtJPgWRN6ZCd6IE3i73rADdp2FSL-ixcc&callback=initMap">
</script>
<script src="views/plugins/toastr/toastr.min.js"></script>
<script src="views/plugins/ladda/spin.min.js"></script>
<script src="views/plugins/ladda/ladda.min.js"></script>
<script src="views/app/js/contact/contact.js"></script>
{% endblock %}